__CUBENCH_DOMAIN__ {
	encode zstd gzip
	root * /opt/cubench/current/web/dist

	handle /api/* {
		reverse_proxy 127.0.0.1:8000
	}

	@login path /login /login/
	handle @login {
		rewrite * /index.html
		file_server
	}

	handle {
		file_server
	}

	header {
		-Server
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}
